.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
  text-decoration: none;

}

.logo--accent {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo--accent-second {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}